<v-row>
  <v-col cols="6">
    <v-btn-toggle v-model="computing.azTable.showTree" mandatory>
      <v-btn small><v-icon>mdi-table</v-icon></v-btn>
      <v-btn small><v-icon @click="drawAz()">mdi-chart-tree</v-icon></v-btn>
    </v-btn-toggle>
  </v-col>
  <v-col :hidden="computing.azTable.showTree!=0">
    <v-row>
      <v-col>
        <v-select solo :items="Object.keys(computing.azTable.azMap)" label="AZ" dense v-model="computing.azTable.zoneName"></v-select>
      </v-col>
      <v-col>
        <v-text-field small solo dense v-model="computing.azTable.search" append-icon="mdi-magnify" label="搜索" hide-details></v-text-field>
      </v-col>
      <v-col cols="2" class="text-center">
        <v-btn fab x-small color="info" @click="computing.azTable.refresh()"><v-icon>mdi-refresh</v-icon></v-btn>
      </v-col>
    </v-row>
  </v-col>
</v-row>

<v-data-table :hidden="computing.azTable.showTree!=0" :headers="computing.azTable.headers" :items="computing.azTable.azMap[computing.azTable.zoneName].hosts"
  :items-per-page="computing.azTable.itemsPerPage" :search="computing.azTable.search" class="elevation-1" dense
  show-select v-model="computing.azTable.selected">
  <template v-slot:item.active="{ item }">
    <v-icon v-if="item.active" color="success">mdi-emoticon-happy</v-icon>
    <v-icon v-else color="error">mdi-emoticon-sad</v-icon>
  </template>
  <template v-slot:item.available="{ item }">
    <v-icon v-if="item.available" color="success">mdi-emoticon-happy</v-icon>
    <v-icon v-else color="error">mdi-emoticon-sad</v-icon>
  </template>
</v-data-table>

<v-col :hidden="computing.azTable.showTree!=1">
  <v-card :hidden="computing.azTable.showTree!=1">
    <v-card-text><div id="az" style="height:500px;"></div></v-card-text>
  </v-card>
</v-col>