<v-row>
  <v-col>
    <v-btn small color="primary" @click="newKeypairDialog.open()"><v-icon small>mdi-plus</v-icon>添加</v-btn>
    <v-btn small color="error" @click="computing.keypairTable.deleteSelected()">删除</v-btn>
  </v-col>
  <v-col>
    <v-text-field small dense v-model="computing.keypairTable.search" append-icon="mdi-magnify" label="搜索"
    single-line hide-details></v-text-field>
  </v-col>
  <v-col cols="1" class="text-center">
    <v-btn fab x-small color="info" v-on:click="computing.keypairTable.refresh()" ><v-icon>mdi-refresh</v-icon></v-btn>
  </v-col>
</v-row>
<br>
<v-data-table :headers="computing.keypairTable.headers" :items="computing.keypairTable.items" item-key="name"
  :items-per-page="computing.keypairTable.itemsPerPage" :search="computing.keypairTable.search" class="elevation-1" dense
  show-select v-model="computing.keypairTable.selected" show-expand single-expand>
  <template v-slot:item.name="{ item }">
    [[item.name]] <v-icon small color="info" @click="computing.keypairTable.copyPublicKey(item)">mdi-content-copy</v-icon>
  </template>
  <template v-slot:expanded-item="{ headers, item }">
    <td></td>
    <td :colspan="headers.length -1" >
      <v-textarea hide-details filled readonly v-model="item.public_key"></v-textarea>
    </td>
  </template>
</v-data-table>

{% include "../dialog/newKeypair.html" %}
