<v-row>
  <v-col>
    <v-btn small color="error" @click="computing.serviceTable.deleteSelected()"><v-icon small>mdi-trash-can</v-icon> 删除</v-btn>
  </v-col>
  <v-col>
    <v-text-field small dense v-model="computing.serviceTable.search" append-icon="mdi-magnify" label="搜索" single-line hide-details></v-text-field>
  </v-col>
  <v-col cols="1" class="text-right">
    <v-btn fab x-small color="info" v-on:click="computing.serviceTable.refresh()" ><v-icon>mdi-refresh</v-icon></v-btn>
  </v-col>
</v-row>
<br>
<v-data-table :headers="computing.serviceTable.headers" :items="computing.serviceTable.items"
  :items-per-page="computing.serviceTable.itemsPerPage" :search="computing.serviceTable.search" class="elevation-1" dense
  show-select v-model="computing.serviceTable.selected">
  <template v-slot:item.status="{ item }">
      <v-switch class="my-auto" v-model="item.status == 'enabled'" hide-details color="success" :disabled="item.binary!='nova-compute'"
              @click="computing.serviceTable.enable(item)"></v-switch>
  </template>
  <template v-slot:item.forced_down="{ item }">
    <v-switch class="my-auto" v-model="item.forced_down" hide-details color="warning" :disabled="item.binary!='nova-compute'"
              @click="computing.serviceTable.forceDown(item)"></v-switch>
  </template>
  <template v-slot:item.state="{ item }">
    <v-icon v-if="item.state == 'up'" color="success">mdi-emoticon-happy</v-icon>
    <v-icon v-else color="error">mdi-emoticon-sad</v-icon>
  </template>
</v-data-table>