pbr
wheel
cffi>=1.4.1
setuptools_rust
tornado
requests
jinja2
bs4
sqlalchemy
dataclasses>=0.6; python_version < '3.7'
https://github.com/fjboy/easy-to-use/releases/download/1.0.1/easy2use-1.0.1-py3-none-any.whl
