<v-row>
  <v-col>
    <v-btn small color="primary" @click="identity.domainTable.openNewItemDialog()">创建</v-btn>
    <v-btn small color="error" @click="identity.domainTable.deleteSelected()">删除</v-btn>
  </v-col>
  <v-col>
    <v-text-field small dense v-model="identity.domainTable.search" append-icon="mdi-magnify" label="搜索"
    single-line hide-details></v-text-field>
  </v-col>
  <v-col cols="1" class="text-center">
    <v-btn fab x-small color="info" v-on:click="identity.domainTable.refresh()"><v-icon>mdi-refresh</v-icon></v-btn>
  </v-col>
</v-row>
<br>
<v-data-table :headers="identity.domainTable.headers" :items="identity.domainTable.items"
  :items-per-page="identity.domainTable.itemsPerPage" :search="identity.domainTable.search"
  dense show-select v-model="identity.domainTable.selected">

  <template v-slot:item.enabled="{ item }">
    <v-switch class="my-auto" v-model="item.enabled" hide-details @click="identity.domainTable.toggleEnabled(item)"></v-switch>
  </template>

</v-data-table>
{% include '../dialog/newDomain.html' %}