<v-dialog scrollable v-model="identity.endpointTable.regionDialog.show" width="600">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>Region管理</v-card-title>
      <v-card-text>
        <v-row class="mt-1">
            <v-col>
                <!-- TODO -->
              <v-btn small color="primary"><v-icon>mdi-plus</v-icon></v-btn>
              <v-btn small color="error" @click="identity.endpointTable.regionDialog.regionTable.deleteSelected()"><v-icon>mdi-trash-can</v-icon></v-btn>
            </v-col>
            <v-col>
                <v-text-field dense single-line hide-details small v-model="identity.endpointTable.regionDialog.regionTable.search"
                    append-icon="mdi-magnify" label="搜索"></v-text-field>
            </v-col>
            <v-col cols="1">
                <v-btn fab x-small color="info" v-on:click="identity.endpointTable.regionDialog.regionTable.refresh()"><v-icon>mdi-refresh</v-icon></v-btn>
            </v-col>
        </v-row>
        <v-data-table dense show-select class="mt-1" :headers="identity.endpointTable.regionDialog.regionTable.headers" :items="identity.endpointTable.regionDialog.regionTable.items"
            :items-per-page="identity.endpointTable.regionDialog.regionTable.itemsPerPage" :search="identity.endpointTable.regionDialog.regionTable.search" class="elevation-1"
            v-model="identity.endpointTable.regionDialog.regionTable.selected">
        </v-data-table>
      </v-card-text>
    </v-card>
</v-dialog>


  