<v-row>
  <v-col>
    <v-btn small color="primary" @click="identity.endpointTable.newItemDialog.open()">新建Endpoint</v-btn>
    <v-btn small color="error" @click="identity.endpointTable.deleteSelected()">删除</v-btn>
  </v-col>
  <v-col>
    <v-text-field small dense v-model="identity.endpointTable.search" append-icon="mdi-magnify" label="搜索"
      single-line hide-details></v-text-field>
  </v-col>
  <v-col cols="1" class="text-center">
    <v-btn fab x-small color="info" v-on:click="identity.endpointTable.refresh()" ><v-icon>mdi-refresh</v-icon></v-btn>
  </v-col>
</v-row>
<br>
<v-data-table dense show-select :headers="identity.endpointTable.headers" :items="identity.endpointTable.items"
  :items-per-page="identity.endpointTable.itemsPerPage" :search="identity.endpointTable.search"
  v-model="identity.endpointTable.selected">

  <template v-slot:item.service_name="{ item }">[[ identity.serviceMap[item.service_id].name ]]</template>
  <template v-slot:item.service_type="{ item }">[[ identity.serviceMap[item.service_id].type ]]</template>

</v-data-table>

{% include '../dialog/newEndpoint.html' %}