<h3>概览</h3>
<v-row>
  <v-col class="mx-auto" cols="6" lg="2" md="4" sm="4">
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-progress-circular v-bind="attrs" v-on="on" rotate="360" size="100" width="20"
          :value="computing.hypervisorTable._memUsedPercent" :color="computing.hypervisorTable._memUsedPercent < 80 ? 'teal' : 'warning' ">
          内存
        </v-progress-circular>
      </template>
      <span>
        百分比: [[ computing.hypervisorTable._memUsedPercent ]]%<br>剩余: [[ computing.hypervisorTable.statistics.free_ram_mb ]]
      </span>
    </v-tooltip>
  </v-col>
  <v-col class="mx-auto" cols="6" lg="2" md="4" sm="4">
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-progress-circular v-bind="attrs" v-on="on" rotate="360" size="100" width="20"
          :value="computing.hypervisorTable._vcpuUsedPercent" :color="computing.hypervisorTable._vcpuUsedPercent < 80 ? 'teal' : 'warning' ">
          CPU
        </v-progress-circular>
      </template>
      <span>
        百分比: [[ computing.hypervisorTable._vcpuUsedPercent ]]%<br>剩余: [[computing.hypervisorTable.statistics.vcpus - computing.hypervisorTable.statistics.vcpus_used ]]
      </span>
    </v-tooltip>
  </v-col>
  <v-col class="mx-auto" cols="6" lg="2" md="4" sm="4">
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-progress-circular v-bind="attrs" v-on="on" rotate="360" size="100" width="20"
          :value="computing.hypervisorTable._diskUsedPercent" :color="computing.hypervisorTable._diskUsedPercent < 80 ? 'teal' : 'warning' ">磁盘
        </v-progress-circular>
      </template>
      <span>
        百分比: [[ computing.hypervisorTable._diskUsedPercent ]]%<br>剩余: [[computing.hypervisorTable.statistics.local_gb - computing.hypervisorTable.statistics.local_gb_used ]]
      </span>
    </v-tooltip>
  </v-col>
  <v-col class="mx-auto" cols="6" lg="2" md="4" sm="4" lg>
    <v-progress-circular rotate="360" size="100" width="10"
      :value="computing.hypervisorTable.statistics.count * 100 / computing.hypervisorTable.items.length"
      color="primary">
      节点<br>
      [[computing.hypervisorTable.statistics.count]]/[[computing.hypervisorTable.items.length]]
    </v-progress-circular>
  </v-col>
  <v-col cols="6" lg="2" md="4" sm="4">
    <v-avatar color="purple" size="90">
      <span class="white--text">虚拟机<br>[[computing.hypervisorTable.statistics.running_vms]]</span>
    </v-avatar>
  </v-col>
</v-row>

<v-card dense class="mt-2">
  <v-card-text>
    <v-row>
      <v-col>
        <v-btn small color="primary" v-on:click="refreshContainer()">刷新</v-btn>
      </v-col>
      <v-col>
        <v-text-field small dense v-model="computing.hypervisorTable.search" append-icon="mdi-magnify" label="搜索"
          single-line hide-details></v-text-field>
      </v-col>
    </v-row>
  </v-card-text>
</v-card>
<br>
[[ computing.hypervisorTable.search ]]
<v-data-table  dense :headers="computing.hypervisorTable.headers" :items="computing.hypervisorTable.items"
  :items-per-page="computing.hypervisorTable.itemsPerPage" :search="computing.hypervisorTable.search"
  class="elevation-1">
  <template v-slot:item.status="{ item }">
    <v-icon v-if="item.status == 'enabled'" color="success">mdi-emoticon-happy</v-icon>
    <v-icon v-else color="error">mdi-emoticon-sad</v-icon>
  </template>

  <template v-slot:item.memory_mb="{ item }">
    <v-progress-linear height="20" :value="item.memory_mb_used * 100 / item.memory_mb" color="cyan">
      [[(item.memory_mb_used / 1024).toFixed(1)]]/[[(item.memory_mb / 1024).toFixed(1)]]
    </v-progress-linear>
  </template>
  <template v-slot:item.vcpus="{ item }">
    <v-progress-linear height="20" :value="item.vcpus_used * 100 / item.vcpus" color="cyan">
      [[item.vcpus_used]]/[[item.vcpus]]
    </v-progress-linear>
  </template>

</v-data-table>


<!-- <v-date-picker v-model="computing.usageTable.start"></v-date-picker>
<v-date-picker v-model="computing.usageTable.end"></v-date-picker> -->
<!-- 
<v-data-table :headers="computing.usageTable.headers" :items="computing.usageTable.items"
  :items-per-page="computing.usageTable.itemsPerPage" :search="computing.usageTable.search" dense>

</v-data-table> -->