<v-row>
  <v-col cols="6" lg="2" md="4" sm="4">
    <v-sheet elevation="2" class="pa-4 text-center">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-progress-circular v-bind="attrs" v-on="on" rotate="360" size="100" width="20"
            :value="computing.hypervisorTable._memUsedPercent" :color="computing.hypervisorTable._memUsedPercent < 80 ? 'teal lighten-2' : 'orange lighten-2' ">
            [[I18N.t('memory')]]
          </v-progress-circular>
        </template>
        <span>
          百分比: [[ computing.hypervisorTable._memUsedPercent ]]%<br>剩余: [[ computing.hypervisorTable.statistics.free_ram_mb ]]
        </span>
      </v-tooltip>
    </v-sheet>
  </v-col>
  <v-col cols="6" lg="2" md="4" sm="4">
    <v-sheet elevation="2" class="pa-4 text-center">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-progress-circular v-bind="attrs" v-on="on" rotate="360" size="100" width="20"
            :value="computing.hypervisorTable._vcpuUsedPercent" :color="computing.hypervisorTable._vcpuUsedPercent < 80 ?'teal lighten-2' : 'orange lighten-2' ">
            [[I18N.t('cpu')]]
          </v-progress-circular>
        </template>
        <span>
          百分比: [[ computing.hypervisorTable._vcpuUsedPercent ]]%<br>剩余: [[computing.hypervisorTable.statistics.vcpus - computing.hypervisorTable.statistics.vcpus_used ]]
        </span>
      </v-tooltip>
    </v-sheet>
  </v-col>
  <v-col cols="6" lg="2" md="4" sm="4">
    <v-sheet elevation="2" class="pa-4 text-center">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-progress-circular v-bind="attrs" v-on="on" rotate="360" size="100" width="20"
            :value="computing.hypervisorTable._diskUsedPercent" :color="computing.hypervisorTable._diskUsedPercent < 80 ? 'teal lighten-2' : 'orange lighten-2' ">
            [[ I18N.t('disk') ]]
          </v-progress-circular>
        </template>
        <span>百分比: [[ computing.hypervisorTable._diskUsedPercent ]]%<br>剩余: [[computing.hypervisorTable.statistics.local_gb - computing.hypervisorTable.statistics.local_gb_used ]]</span>
      </v-tooltip>
    </v-sheet>
  </v-col>
  <v-col cols="6" lg="2" md="4" sm="4" lg>
    <v-sheet elevation="2" class="pa-4 text-center">
      <v-progress-circular rotate="360" size="100" width="10" :value="computing.hypervisorTable.statistics.count * 100 / computing.hypervisorTable.items.length" color="teal lighten-2">
        [[ I18N.t('node') ]]<br>[[computing.hypervisorTable.statistics.count]]/[[computing.hypervisorTable.items.length]]
      </v-progress-circular>
    </v-sheet>
  </v-col>
  <v-col cols="6" lg="2" md="4" sm="4">
    <v-sheet elevation="2" class="pa-4 text-center" height="100%">
      <v-avatar color="blue lighten-3" size="90"><span class="white--text">[[I18N.t('instance')]]<br>[[computing.hypervisorTable.statistics.running_vms]]</span></v-avatar>
    </v-sheet>
  </v-col>
  <v-col cols="6" lg="2" md="4" sm="4">
    <v-sheet elevation="2" class="pa-4 text-center" height="100%">
      <v-avatar color="indigo lighten-3" size="90"><span class="white--text">workload<br>[[computing.hypervisorTable.statistics.current_workload]]</span></v-avatar>
    </v-sheet>
  </v-col>
</v-row>

<v-card dense class="mt-1">
  <v-card-text>
    <v-row>
      <v-col>
        <v-btn small color="primary" v-on:click="refreshContainer()">[[ I18N.t('refresh') ]]</v-btn>
        <v-btn small color="info" v-on:click="computing.hypervisorTable.tenantUsageDialog.open()">[[ I18N.t('tenantUsage') ]]</v-btn>
      </v-col>
      <v-col>
        <v-text-field small dense v-model="computing.hypervisorTable.search" append-icon="mdi-magnify" label="搜索"
          single-line hide-details></v-text-field>
      </v-col>
    </v-row>
  </v-card-text>
</v-card>

<v-data-table dense show-expand single-expand :headers="computing.hypervisorTable.headers" :items="computing.hypervisorTable.items"
  :items-per-page="computing.hypervisorTable.itemsPerPage" :search="computing.hypervisorTable.search" class="elevation-1">
  <template v-slot:item.status="{ item }">
    <v-icon v-if="item.status == 'enabled'" color="success">mdi-emoticon-happy</v-icon>
    <v-icon v-else color="error">mdi-emoticon-sad</v-icon>
  </template>

  <template v-slot:item.memory_mb="{ item }">
    <v-progress-linear height="20" :value="item.memory_mb_used * 100 / item.memory_mb" color="cyan">
      [[(item.memory_mb_used / 1024).toFixed(1)]]/[[(item.memory_mb / 1024).toFixed(1)]]
    </v-progress-linear>
  </template>
  <template v-slot:item.vcpus="{ item }">
    <v-progress-linear height="20" :value="item.vcpus_used * 100 / item.vcpus" color="cyan">
      [[item.vcpus_used]]/[[item.vcpus]]
    </v-progress-linear>
  </template>

  <template v-slot:expanded-item="{ headers, item }">
    <td></td>
    <td :colspan="headers.length -1" >
      <table>
        <template v-for="extendItem in computing.hypervisorTable.extendItems">
          <tr><td><strong>[[extendItem.text ]]:</strong> </td><td>[[ item[extendItem.value] ]]</td></tr>
        </template>
      </table>
    </td>
  </template>
</v-data-table>

{% include 'dialog/tenantUsage.html' %}

<!-- <v-date-picker v-model="computing.usageTable.start"></v-date-picker>
<v-date-picker v-model="computing.usageTable.end"></v-date-picker> -->
<!-- 
<v-data-table :headers="computing.usageTable.headers" :items="computing.usageTable.items"
  :items-per-page="computing.usageTable.itemsPerPage" :search="computing.usageTable.search" dense>

</v-data-table> -->