<v-row>
  <v-col>
    <v-btn small color="primary" @click="image.imageTable.newItemDialog.open()">创建</v-btn>
    <v-btn small color="error"  @click="imageDeleteSmartDialog.open()" :disabled="image.imageTable.selected.length == 0">
        <v-icon small>mdi-trash-can</v-icon>删除
    </v-btn>
  </v-col>
  <v-col>
    <v-text-field small dense v-model="image.imageTable.search" append-icon="mdi-magnify" label="搜索" single-line hide-details></v-text-field>
  </v-col>
  <v-col cols="1" class="text-center">
    <v-btn fab x-small color="info" v-on:click="image.imageTable.refresh()" ><v-icon>mdi-refresh</v-icon></v-btn>
  </v-col>
  <v-col cols="1" class="text-right">
    <v-btn x-small fab color="primary" @click="image.imageTable.tasksDialog.open()"><v-icon>mdi-progress-upload</v-icon></v-btn>
    </v-btn>
  </v-col>
</v-row>
<br>
<v-data-table :headers="image.imageTable.headers" :items="image.imageTable.items"
  :items-per-page="image.imageTable.itemsPerPage" :search="image.imageTable.search" dense
  show-select v-model="image.imageTable.selected" show-expand single-expand>

  <template v-slot:item.size="{ item }">
    <v-chip small outlined label color="info">[[ image.imageTable.humanSize(item) ]]</v-chip>
  </template>
  <template v-slot:item.actions="{ item }">
    <v-btn small text color="purple" @click="imagePropertiesDialog.open(item)">设置属性</v-btn>
  </template>

  <template v-slot:expanded-item="{ headers, item }">
    <td></td><td></td>
    <td :colspan="headers.length -1" >
      <table>
        <template v-for="extendItem in image.imageTable.extendItems">
          <tr><td><strong>[[extendItem.text ]]:</strong> </td><td>[[ item[extendItem.value] ]]</td></tr>
        </template>
        <tr>
          <td><strong>Properties</strong></td>
          <td>
            <template v-for="(value, key, index) in item">
                <v-chip x-small label v-if="key.startsWith('hw')" class="mr-2">[[key]]=[[value]]</v-chip>
              </template>
          </td>
        </tr>
      </table>
    </td>
  </template>
</v-data-table>

{% include './dialog/imageDeleteSmart.html' %}
{% include './dialog/imageProperties.html' %}
{% include './dialog/newImage.html' %}
{% include './dialog/tasksDialog.html' %}
