<div class="row mt-0" id="loader">
    <div class="col col-2 mt-0">
        <div aria-busy="true" aria-live="polite" role="alert"
            class="v-skeleton-loader mx-auto v-skeleton-loader--is-loading theme--light" style="max-width: 300px;">
            <div class="v-skeleton-loader__list-item-avatar-two-line v-skeleton-loader__bone">
                <div class="v-skeleton-loader__avatar v-skeleton-loader__bone"></div>
                <div class="v-skeleton-loader__sentences v-skeleton-loader__bone">
                    <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
                    <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
                </div>
            </div>
            <div class="v-skeleton-loader__list-item v-skeleton-loader__bone">
                <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
            </div>
            <div class="v-skeleton-loader__list-item-three-line v-skeleton-loader__bone">
                <div class="v-skeleton-loader__paragraph v-skeleton-loader__bone">
                    <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
                    <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
                    <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div aria-busy="true" aria-live="polite" role="alert"
            class="v-skeleton-loader mx-auto v-skeleton-loader--is-loading theme--light" style="max-width: 100%;">
            <div class="v-skeleton-loader__actions v-skeleton-loader__bone">
                <div class="v-skeleton-loader__button v-skeleton-loader__bone"></div>
                <div class="v-skeleton-loader__button v-skeleton-loader__bone"></div>
            </div>
            <div class="v-skeleton-loader__table-heading v-skeleton-loader__bone">
                <div class="v-skeleton-loader__heading v-skeleton-loader__bone"></div>
                <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
            </div>
            <div class="v-skeleton-loader__image v-skeleton-loader__bone"></div>
            <div class="v-skeleton-loader__table-tfoot v-skeleton-loader__bone">
                <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
                <div class="v-skeleton-loader__text v-skeleton-loader__bone"></div>
                <div class="v-skeleton-loader__avatar v-skeleton-loader__bone"></div>
                <div class="v-skeleton-loader__avatar v-skeleton-loader__bone"></div>
            </div>
        </div>
    </div>
</div>
