<v-card dense>
  <v-card-text>
    <v-row>
      <v-col>
        <v-btn small color="primary" v-on:click="newServerDialog.open()"><v-icon>mdi-plus</v-icon> 新建</v-btn>
        <v-btn class="rounded-l-xl" small color="success" v-on:click="computing.serverTable.startSelected()" :disabled="computing.serverTable.selected.length == 0">开机</v-btn>
        <v-btn class="rounded-r-xl" small color="warning" v-on:click="computing.serverTable.stopSelected()" :disabled="computing.serverTable.selected.length == 0">关机</v-btn>
        <v-btn class="rounded-l-xl" small color="success" v-on:click="computing.serverTable.unpauseSelected()" :disabled="computing.serverTable.selected.length == 0">开启</v-btn>
        <v-btn class="rounded-r-xl" small color="warning" v-on:click="computing.serverTable.pauseSelected()" :disabled="computing.serverTable.selected.length == 0">暂停</v-btn>

        <v-menu  offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn small color="info" v-bind="attrs" v-on="on" :disabled="computing.serverTable.selected.length == 0"><v-icon small>mdi-menu</v-icon> 重启</v-btn>
          </template>
          <v-list >
            <v-list-item small @click="computing.serverTable.rebootSelected('SOFT')"><v-list-item-title>软重启</v-list-item-title></v-list-item>
            <v-list-item small @click="computing.serverTable.rebootSelected('HARD')"><v-list-item-title>硬重启</v-list-item-title></v-list-item>
          </v-list>
        </v-menu>

        <v-btn small color="primary" @click="migrateDialog.open()" :disabled="computing.serverTable.selected.length == 0">
              </v-icon>迁移</v-btn>
        <v-btn small color="error" @click="computing.serverTable.deleteSelected()" :disabled="computing.serverTable.selected.length == 0">
            <v-icon small>mdi-trash-can</v-icon>删除</v-btn>

      </v-col>
      <v-col cols="1" class="text-right">
        <v-btn fab x-small outlined color="info" v-on:click="computing.serverTable.refresh()" ><v-icon>mdi-refresh</v-icon></v-btn>
      </v-col>
      <v-col>
        <v-text-field small dense v-model="computing.serverTable.search" append-icon="mdi-magnify" label="搜索" single-line hide-details></v-text-field>
      </v-col>
    </v-row>
  </v-card-text>
</v-card>

<v-data-table :headers="computing.serverTable.headers" :items="computing.serverTable.items"
  :items-per-page="computing.serverTable.itemsPerPage" :search="computing.serverTable.search" dense
  show-select v-model="computing.serverTable.selected" show-expand single-expand>
  <template v-slot:item.name="{ item }">
    [[ item.name ]]
    <v-btn @click="changeServerNameDialog.open(item)" x-small icon><v-icon>mdi-pencil-minus</v-icon></v-btn>
    <v-btn @click="loginVnc(item)" x-small icon><v-icon>mdi-console</v-icon></v-btn>
  </template>
  <template v-slot:item.status="{ item }">
    <v-icon v-if="item['OS-EXT-STS:vm_state'] == 'active'" color="success">mdi-check-circle</v-icon>
    <v-icon v-if="item['OS-EXT-STS:vm_state'] == 'stopped'" color="warning">mdi-stop-circle</v-icon>
    <v-icon v-if="item['OS-EXT-STS:vm_state'] == 'paused'" color="warning">mdi-pause-circle</v-icon>
    <v-tooltip top v-if="item['OS-EXT-STS:vm_state'] == 'error'" >
      <template v-slot:activator="{ on, attrs }">
        <v-icon color="error" v-bind="attrs" v-on="on">mdi-alpha-x-circle</v-icon>
      </template>
      <!-- [[ item.fault && item.fault.message ]] -->
    </v-tooltip>
    [[ item['OS-EXT-STS:task_state'] ]]
  </template>
  <template v-slot:item.power_state="{ item }">
    <v-icon v-if="item['OS-EXT-STS:power_state'] == 1" color="success">mdi-power-on</v-icon>
    <v-icon v-else-if="item['OS-EXT-STS:power_state'] == 3" color="warning">mdi-pause</v-icon>
    <v-icon v-else-if="item['OS-EXT-STS:power_state'] == 4" color="error">mdi-power-off</v-icon>
  </template>
  <template v-slot:item.addresses="{ item }">
    <template v-for="(ports, net, i) in item.addresses">
      <template v-for="(port, j) in ports">
        <v-chip x-small>[[ port.addr ]]</v-chip>
      </template>
    </template>
  </template>
  <template v-slot:item.flavor="{ item }">
      <v-chip x-small label color="cyan" text-color="white">[[ item.flavor.original_name ]]</v-chip>
  </template>
  <template v-slot:item.image="{ item }" >
    <v-chip x-small label>[[ computing.serverTable.getImage(item) && computing.serverTable.getImage(item).name ]]</v-chip>
  </template>
  <template v-slot:item.action="{ item }">
    <v-menu  offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon color="primary" v-bind="attrs" v-on="on"><v-icon small>mdi-menu</v-icon></v-btn>
      </template>
      <v-list dense>
        <v-list-item @click="changePasswordDialog.open(item)"><v-list-item-title>修改密码</v-list-item-title></v-list-item>
        <v-list-item @click="serverVolumeDialog.open(item)"><v-list-item-title>卷管理</v-list-item-title></v-list-item>
        <v-list-item @click="serverInterfaceDialog.open(item)"><v-list-item-title>网卡管理</v-list-item-title></v-list-item>
        <v-list-item small @click="resizeDialog.open(item)"><v-list-item-title>规格变更</v-list-item-title></v-list-item>
        <v-list-item small @click="rebuildDialog.open(item)"><v-list-item-title>重建</v-list-item-title></v-list-item>
      </v-list>
    </v-menu>
  </template>
  <template v-slot:item.updated="{ item }">
    <v-chip x-small>[[item.updated]]</v-chip>
  </template>
  <template v-slot:expanded-item="{ headers, item }">
    <td></td><td></td>
    <td :colspan="headers.length -1">
      <table>
        <tr><td>UUID </td><td>[[ item.id ]]</td></tr>
        <tr><td>实例名 </td><td>[[ item['OS-EXT-SRV-ATTR:instance_name'] ]]</td></tr>
        <tr><td>创建时间 </td><td>[[ item.created ]]</td></tr>
        <tr><td>更新时间 </td><td>[[ item.updated ]]</td></tr>
        <tr><td>user_id </td><td>[[ item['user_id'] ]]</td></tr>
        <tr><td>tenant_id </td><td>[[ item['tenant_id'] ]]</td></tr>
        <tr><td>diskConfig </td><td>[[ item['OS-DCF:diskConfig'] ]]</td></tr>
      </table>
    </td>
  </template>

</v-data-table>

{% include "dialog/newServer.html" %}
{% include 'dialog/changeServerName.html' %}
{% include 'dialog/changePassword.html' %}
{% include 'dialog/serverVolume.html' %}
{% include 'dialog/serverInterface.html' %}
{% include 'dialog/resize.html' %}
{% include 'dialog/migrate.html' %}
{% include 'dialog/rebuild.html' %}
