<v-card dense>
  <v-card-text>
    <v-row>
      <v-col>
        <v-btn small color="primary">创建</v-btn>
        <v-btn small color="primary" v-on:click="networking.networkTable.refresh()">刷新</v-btn>
        <v-btn small color="error" v-on:click="networkDelete()">删除</v-btn>
      </v-col>
      <v-col>
        <v-text-field small dense v-model="networking.networkTable.search" append-icon="mdi-magnify" label="搜索"
          single-line hide-details></v-text-field>
      </v-col>
    </v-row>
  </v-card-text>
</v-card>

<v-data-table :headers="networking.networkTable.headers" :items="networking.networkTable.items"
  :items-per-page="networking.networkTable.itemsPerPage" :search="networking.networkTable.search" class="elevation-1"
  dense show-select v-model="networking.networkTable.selected">

  <template v-slot:item.status="{ item }">
    <v-icon v-if="item.status == 'ACTIVE'" color="success">mdi-check-circle</v-icon>
    <v-icon v-else color="error">mdi-close-circle</v-icon>
  </template>

</v-data-table>