<v-card dense>
  <v-card-text>
    <v-row>
      <v-col>
        <v-btn small color="primary">创建</v-btn>
        <v-btn small color="error">删除</v-btn>
      </v-col>
      <v-col>
        <v-text-field small dense v-model="networking.portTable.search" append-icon="mdi-magnify" label="搜索"
          single-line hide-details></v-text-field>
      </v-col>
    </v-row>
  </v-card-text>
</v-card>

<v-data-table :headers="networking.portTable.headers" :items="networking.portTable.items"
  :items-per-page="networking.portTable.itemsPerPage" :search="networking.portTable.search" class="elevation-1"
  dense show-select>

  <template v-slot:item.status="{ item }">
    <v-icon v-if="item.status == 'ACTIVE'" color="success">mdi-check-circle</v-icon>
    <v-icon v-else color="error">mdi-close-circle</v-icon>
  </template>
  <template v-slot:item.fixed_ips="{ item }">
    <v-chip x-small v-for="(fixed_ip) in item.fixed_ips">[[ fixed_ip.ip_address ]]</v-chip>
  </template>

</v-data-table>