<v-dialog v-model="computing.aggTable.aggHostsDialog.show" width="800">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>节点</v-card-title>
        <v-card-text>
            <v-btn small color="primary" @click="computing.aggTable.addHosts()">添加</v-btn>
            <v-btn small color="error" @click="computing.aggTable.removeHosts()">移除</v-btn>
            <br>
            <v-data-table dense :headers="computing.aggTable.aggHostsDialog.headers"
                item-key="name"
                :items="computing.aggTable.aggHostsDialog.hosts"
                items-per-page="10" :search="computing.aggTable.aggHostsDialog.search"
                show-select v-model="computing.aggTable.aggHostsDialog.selected">
            </v-data-table>
        </v-card-text>
    </v-card>
  </v-dialog>
