<v-dialog v-model="evacuateDialog.show" width="500">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>虚拟机疏散</v-card-title>
        <v-card-text>
            <v-select clearable hide-details :items="evacuateDialog.nodes" label="目标节点" v-model="evacuateDialog.host" @click="evacuateDialog.refreshHosts()"></v-select>
            <v-switch v-model="evacuateDialog.force" label="强制" :disabled="evacuateDialog.host==null" messages="如果指定目标节点，可以选择是否强制疏散"></v-switch>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="evacuateDialog.commit()">疏散</v-btn></v-col>
        </v-card-actions>
    </v-card>
</v-dialog>
