<v-dialog v-model="flavorExtraDialog.show" width="800">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>设置规格属性</v-card-title>
      <v-card-text>
        <v-row>
            <v-col cols="6">
                <h4>规格属性</h4>
                <template v-for="(value, key) in flavorExtraDialog.extraSpecs">
                    <v-chip label small class="mr-1 mt-1 info" close @click:close="flavorExtraDialog.deleteExtra(key)">[[key]]=[[value]]</v-chip>
                </template>
            </v-col>
            <v-col cols="6">
                <h4>常用属性</h4>
                <template v-for="item in flavorExtraDialog.customizeExtras">
                    <v-chip label small class="mr-1 mb-1" close close-icon="mdi-plus" @click:close="flavorExtraDialog.addExtra(item)">[[item.key]]=[[item.value]]</v-chip>
                </template>

            </v-col>
            <v-col cols="10">
                <v-textarea hide-details filled label="设置规格属性" placeholder="请输入规格的属性,例如: hw:page_size=large, 多个属性换行输入。"
                        v-model="flavorExtraDialog.newExtraSpecs"></v-textarea>
            </v-col>
            <v-col cols="2">
                <v-btn class="primary" @click="flavorExtraDialog.addNewExtraSpecs()">添加</v-btn>
            </v-col>
          </v-row>
      </v-card-text>
    </v-card>
</v-dialog>