<v-dialog v-model="imagePropertiesDialog.show" width="700">
    <template v-slot:activator="{ on, attrs }">
    </template>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>镜像属性</v-card-title>
      <v-card-text>
        <template v-for="(value, key, index) in imagePropertiesDialog.properties">
            <v-chip close @click:close="imagePropertiesDialog.removeProperty(key)" color="info" outlined label class="mr-4 mt-2">
                [[ key ]]=[[ value ]]
            </v-chip>
          </template>
          <v-row class="mt-2">
              <v-col cols="10">
                  <v-textarea filled label="添加镜像属性" placeholder="请输入镜像属性，例如: hw_qemu_guest_agent=yes"
                        v-model="imagePropertiesDialog.propertyContent" 
                        persistent-hint hint="注：镜像属性需以hw_开头，多个属性换行输入。"
                        >
                  </v-textarea>
              </v-col>
              <v-col>
                  <v-btn color="primary" @click="imagePropertiesDialog.addProperties()" :disabled="imagePropertiesDialog.propertyContent ? false : true" >添加</v-btn>
              </v-col>
          </v-row>
        </v-card-text>
    </v-card>
</v-dialog>
