<v-dialog v-model="interfaceAttachDialog.show" width="600">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>挂载网卡</v-card-title>
      <v-card-text>
          <v-text-field disabled label="实例名字" v-model="interfaceAttachDialog.params.server.name"></v-text-field>
          <v-select :items="interfaceAttachDialog.params.ports" label="选择网卡"
            item-value="id" item-text="name" multiple chips outlined v-model="interfaceAttachDialog.params.selectedPorts">
          </v-select>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="interfaceAttachDialog.commit()">挂载</v-btn>
      </v-card-actions>
    </v-card>
</v-dialog>