<v-dialog v-model="migrateDialog.show" width="800">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>迁移</v-card-title>
      <v-card-text>
            <v-switch v-model="migrateDialog.smart" label="智能模式"></v-switch>
            <v-alert text dense color="info" icon="mdi-information">智能模式根据虚拟机状态选择冷迁移还是热迁移</v-alert>
            <v-switch v-model="migrateDialog.liveMigrate" label="热迁移" :disabled="migrateDialog.smart"></v-switch>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="migrateDialog.commit()">迁移</v-btn></v-col>
        </v-card-actions>
    </v-card>
</v-dialog>
