<v-dialog v-model="newBackupDialog.show" width="740">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>新建备份</v-card-title>
        <v-card-text>
            <v-row>
                <v-col cols="10">
                    <v-text-field label="名字" placeholder="请输入备份名" v-model="newBackupDialog.name"></v-text-field>
                </v-col>
                <v-col cols="2" class="my-auto">
                    <v-btn text color="primary" @click="newBackupDialog.randomName()">随机名字</v-btn>
                </v-col>
                <v-col>
                    <v-select hide-details :items="newBackupDialog.volumes" label="请选择卷" item-text="name"
                        item-value="id" dense outlined v-model="newBackupDialog.volume_id">
                        <!-- <template v-slot:selection="{ item }"> [[ item.name || item.id ]] </template> -->
                    </v-select>
                    <v-switch hide-details v-model="newBackupDialog.force" label="强制"></v-switch>
                </v-col>
            </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="newBackupDialog.commit()">创建</v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>