
<v-dialog v-model="newCluster.show" width="500">
  <v-card>
    <v-card-title class="headline grey lighten-2" primary-title>添加环境</v-card-title>
    <v-card-text>
      <v-text-field label="*环境名" placeholder="请输入环境名" v-model="newCluster.params.name"></v-text-field>
      <v-text-field hide-details label="*认证地址" placeholder="例如：http://keystone-server:5000" v-model="newCluster.params.authUrl"></v-text-field>
      <v-text-field hide-details label="*租户名" placeholder="请输入住户名" v-model="newCluster.params.authProject"></v-text-field>
      <v-text-field hide-details label="*用户名" placeholder="请输入用户名" v-model="newCluster.params.authUser"></v-text-field>
      <v-text-field hide-details label="*密码" placeholder="请输入密码" v-model="newCluster.params.authPassword"
                    :append-icon="newCluster.hidePassword ? 'mdi-eye-off' : 'mdi-eye'" 
                    :type="newCluster.hidePassword ? 'password' : 'text'" @click:append="newCluster.hidePassword = !newCluster.hidePassword">
      </v-text-field>
    <v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn small color="primary" @click="newCluster.commit()">添加</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
