<v-dialog v-model="identity.endpointTable.newItemDialog.show" width="600">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>新建Endpoint</v-card-title>
      <v-card-text>

          <v-select  :items="identity.endpointTable.newItemDialog.services" label="服务名" :key="name" item-text="name" item-value="id"
              v-model="identity.endpointTable.newItemDialog.service" :error="!identity.endpointTable.newItemDialog.service">
          </v-select>
          <v-text-field label="Region" placeholder="请输入Region" v-model="identity.endpointTable.newItemDialog.region"
              :error="!identity.endpointTable.newItemDialog.region">
          </v-text-field>
        <v-text-field label="URL" placeholder="请输入URL,例如: service:1111/v2" v-model="identity.endpointTable.newItemDialog.url"
            :error="!identity.endpointTable.newItemDialog.url">
            <v-select hide-details dense slot="prepend" :items="identity.endpointTable.newItemDialog.SCHEMAS" v-model="identity.endpointTable.newItemDialog.schema"></v-select>
        </v-text-field>
        <strong> 接口类型:</strong>
        <v-btn-toggle multiple small color="info" v-model="identity.endpointTable.newItemDialog.interfaces">
            <v-btn small v-for="item in identity.endpointTable.newItemDialog.INTERFACES">[[item]]</v-btn>
        </v-btn-toggle>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="identity.endpointTable.createNewItem()">创建</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
