<v-dialog v-model="image.imageTable.newItemDialog.show" width="800" scrollable>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>添加镜像</v-card-title>
      <v-card-text>
        <v-row>
            <v-col cols="10">
                <v-text-field  hide-details label="*名字" placeholder="请输入镜像名" v-model="image.imageTable.newItemDialog.name" :rules="[image.imageTable.newItemDialog.checkNotNull]"></v-text-field>
            </v-col>
            <v-col cols="2" class="my-auto">
                <v-btn  hide-details text color="primary" @click="image.imageTable.newItemDialog.randomName()">随机名字</v-btn>
            </v-col>
            <v-col cols="6">
                <v-file-input hide-details show-size label="镜像文件" v-model="image.imageTable.newItemDialog.file"
                        v-on:change="image.imageTable.newItemDialog.setName()"></v-file-input>
            </v-col>
            <v-col cols="6">
                正在缓存：[[ image.imageTable.newItemDialog.process ]]%
                <v-progress-linear  hide-details height="20" :value="image.imageTable.newItemDialog.process"></v-progress-linear>
            </v-col>
            <v-col cols="4">
                <v-sheet elevation="2" class="pa-4" height="100%">
                    <v-select outlined :items="image.imageTable.newItemDialog.diskFormats" label="磁盘格式" v-model="image.imageTable.newItemDialog.diskFormat"
                        :error="!image.imageTable.newItemDialog.diskFormat"></v-select>
                    <v-select outlined  :items="image.imageTable.newItemDialog.containerFormats" label="镜像格式" v-model="image.imageTable.newItemDialog.containerFormat"
                        :error="!image.imageTable.newItemDialog.containerFormat"></v-select>
                    <v-select outlined clearable hide-details :items="image.imageTable.newItemDialog.visibilities" label="可见范围" v-model="image.imageTable.newItemDialog.visibility"
                        :error="!image.imageTable.newItemDialog.visibilities"></v-select>
                </v-sheet>
            </v-col>
            <v-col cols="4">
                <v-sheet elevation="2" class="pa-4" height="100%">
                    <v-text-field label="架构" placeholder="请输入架构名称" v-model="image.imageTable.newItemDialog.architecture"></v-text-field>
                    <v-text-field label="操纵系统发行名" placeholder="请输入操纵系统发行名" v-model="image.imageTable.newItemDialog.osDistro"></v-text-field>
                    <v-text-field label="操纵系统版本" placeholder="请输入操纵系统版本" v-model="image.imageTable.newItemDialog.osVersion"></v-text-field>

                </v-sheet>
            </v-col>
            <v-col cols="4">
                <v-sheet elevation="2" class="pa-4" height="100%">
                    <v-text-field dense label="最小内存" placeholder="请设置最小内存" v-model="image.imageTable.newItemDialog.minRam"></v-text-field>
                    <v-text-field dense label="最小磁盘" placeholder="请设置最小磁盘" v-model="image.imageTable.newItemDialog.minDisk"></v-text-field>
                </v-sheet>
            </v-col>
        </v-row>
        <v-switch dense hidden-details class="my-auto" label="保护" v-model="image.imageTable.newItemDialog.protected" hide-details ></v-switch>
        <v-row>

        </v-row>
        <v-col cols="12">
        </v-col>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="image.imageTable.createNewItem()">创建</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  