<v-dialog v-model="newNetDialog.show" width="800">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>新建网络</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field label="*名字" placeholder="请输入网络名" v-model="newNetDialog.params.name"></v-text-field>
          </v-col>
          <v-col cols="2" class="my-auto">
            <v-btn text color="primary" @click="newNetDialog.params.name = UTILS.getRandomName('volume')">随机名字</v-btn>
          </v-col>
        </v-row>
        <v-row>
            <v-col cols="6">
                <v-select :items="newNetDialog.netTypes" label="网络类型" dense outlined hide-details
                          v-model="newNetDialog.params.networkType">
                </v-select>
            </v-col>
            <v-col cols="6">
                <v-switch v-model="newNetDialog.params.shared" label="共享" hidde-details class="my-auto"></v-switch>
            </v-col>
            <v-col cols="6">
                <v-text-field hide-details label="Segment ID" placeholder="请输入segment ID" v-model="newNetDialog.params.segId" dense outlined></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-text-field hide-details label="dnsDomain" placeholder="请输入dnsDomain" v-model="newNetDialog.params.dnsDomain" dense  outlined> </v-text-field>
            </v-col>
            <v-col cols="6">
                <v-text-field hide-details label="azHint" placeholder="请输入azHint" v-model="newNetDialog.params.azHint" dense  outlined> </v-text-field>
            </v-col>
            <v-col cols="6">
                <v-select :items="newNetDialog.qosPolices" label="QoS规则" dense outlined 
                            v-model="newNetDialog.params.qosPolicy">
                </v-select>
            </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="newNetDialog.commit()">创建</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
