<v-dialog v-model="identity.projectTable.newItemDialog.show" width="600">
  <v-card>
    <v-card-title class="headline grey lighten-2" primary-title>添加租户</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="10">
          <v-text-field label="*名字" placeholder="请输入Domain名" v-model="identity.projectTable.newItemDialog.name" :rules="[identity.newUserDialog.checkNotNull]"></v-text-field>
        </v-col>
        <v-col cols="2" class="my-auto">
          <v-btn text color="primary" @click="identity.projectTable.newItemDialog.randomName()">随机名字</v-btn>
        </v-col>
      </v-row>
      <v-select dense outlined :items="identity.projectTable.newItemDialog.domains" label="Domain" item-text="name" item-value="id"
            v-model="identity.projectTable.newItemDialog.domainId">
      </v-select>
      <v-text-field label="描述" placeholder="请输入描述信息" v-model="identity.projectTable.newItemDialog.description"></v-text-field>
      <v-switch hide-details class="my-auto" label="启用" v-model="identity.projectTable.newItemDialog.enabled" hide-details ></v-switch>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="identity.projectTable.createNewItem()">创建</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
