<v-dialog v-model="identity.newRoleDialog.show" width="600">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>添加角色</v-card-title>
      <v-card-text>
            <br>
            <v-text-field label="*名字" placeholder="请输入角色名" v-model="identity.newRoleDialog.name"></v-text-field>
            <v-select :items="identity.newRoleDialog.domains" clearable label="Domain" item-text="name" item-value="id" dense outlined
                v-model="identity.newRoleDialog.domainId">
            </v-select>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="identity.newRoleDialog.commit()">创建</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
