<v-dialog v-model="newRouterDialog.show" width="800">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>新建路由</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field label="*名字" placeholder="请输入路由名" v-model="newRouterDialog.params.name"></v-text-field>
          </v-col>
          <v-col cols="2" class="my-auto">
            <v-btn text color="primary" @click="newRouterDialog.randomName()">随机名字</v-btn>
          </v-col>
        </v-row>
        <v-row>
            <v-col cols="6">
                <v-text-field hide-details label="azHint" placeholder="请输入azHint" v-model="newRouterDialog.params.azHint" dense  outlined> </v-text-field>
            </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="newRouterDialog.commit()">创建</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
