<v-dialog v-model="newServerDialog.show" width="900">
  <v-card height="400" class="rounded-0">
    <v-stepper elevation="0">
      <v-stepper-header>
          <v-stepper-step key="`1-step`" step="1" editable="editable">*基本设置</v-stepper-step><v-divider></v-divider>
          <v-stepper-step key="`1-step`" step="2" editable="editable">密码/密钥</v-stepper-step><v-divider></v-divider>
          <v-stepper-step key="`1-step`" step="3" editable="editable">自定义</v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-row>
            <v-col cols="10">
              <v-text-field hide-details label="*名字" placeholder="请输入实例名" v-model="newServerDialog.params.name">
              </v-text-field>
            </v-col>
            <v-col cols="2">
              <v-btn class="mt-4" text color="primary" @click="newServerDialog.params.name = UTILS.getRandomName('server')">随机名字</v-btn>
            </v-col>
            <v-col cols="6">
                <v-select :items="newServerDialog.flavors" label="*规格" dense :key="name" item-text="name" item-value="id"
                  v-model="newServerDialog.params.flavor">
                  <template v-slot:selection="{ item }"> [[ item.name ]] </template>
                </v-select>
              </v-col>
              <v-col cols="6">
                <v-select :items="newServerDialog.images" label="*镜像" dense item-text="name" item-value="id"
                v-model="newServerDialog.params.image">
                <template v-slot:selection="{ item }"> [[ item.name ]] </template>
              </v-select>
            </v-col>
            <v-col cols="12">
              <v-select :items="newServerDialog.networks" label="网络" dense item-text="name" item-value="id"
              v-model="newServerDialog.params.netId">
              <template v-slot:selection="{ item }"> [[ item.name ]] </template>
            </v-select>
                <v-switch v-model="newServerDialog.params.useBdm" label="创建卷" class="my-auto" hide-details></v-switch>
                <v-slider :disabled="!newServerDialog.params.useBdm" v-model="newServerDialog.params.volumeSize" ticks="always" label="系统卷大小" max="100" min="20" step="10">
                  <template v-slot:append>
                    <v-chip label small>[[newServerDialog.params.volumeSize]] GB</v-chip>
                  </template>
                </v-slider>
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper-items>
      <v-stepper-items>
        <v-stepper-content step="2">
          <v-text-field label="密码" placeholder="请输入实例密码" v-model="newServerDialog.params.password"></v-text-field>
          <v-select :items="newServerDialog.keypairs" label="密钥对" item-text="keypair.name" item-value="keypair.name"
                    v-model="newServerDialog.keypair"></v-select>
        </v-stepper-content>
      </v-stepper-items>
      <v-stepper-items>
        <v-stepper-content step="3">
          <v-slider v-model="newServerDialog.params.nums" label="实例数量" class="align-center" ticks="always" max="10" min="1" >
              <template v-slot:append ><v-chip label small>[[newServerDialog.params.nums]]</v-chip></template>
          </v-slider>
          <v-row>
            <v-col>
              <v-select :items="newServerDialog.azList" label="选择AZ" item-text="zoneName" v-model="newServerDialog.params.az">
                  <template v-slot:selection="{ item }"> [[ item.zoneName ]] </template>
              </v-select>
            </v-col>
            <v-col>
              <v-select :items="newServerDialog.azHosts[newServerDialog.params.az]" label="选择节点" v-model="newServerDialog.params.host">
                  <template v-slot:selection="{ item }"> [[ item ]] </template>
              </v-select>
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-card>
  <v-card-title class="headline white lighten-2">
    <v-spacer></v-spacer><v-btn color="primary" @click="newServerDialog.commit()">创建</v-btn>
  </v-card-title>
</v-dialog>