<v-dialog v-model="newVolumeDialog.show" width="700">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>新建卷</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field label="名字" placeholder="请输入卷名" v-model="newVolumeDialog.params.name"></v-text-field>
          </v-col>
          <v-col cols="2" class="my-auto">
            <v-btn text color="primary" @click="newVolumeDialog.params.name = UTILS.getRandomName('volume')">随机名字</v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4">
            <v-text-field label="大小(GB)" placeholder="请输入卷大小" v-model="newVolumeDialog.params.size" dense outlined></v-text-field>
            <v-text-field label="数目" placeholder="请输入新建数量" v-model="newVolumeDialog.params.nums" dense  outlined> </v-text-field>
            <v-select :items="newVolumeDialog.params.types" label="卷类型" item-text="name" item-value="id" dense outlined
                      v-model="newVolumeDialog.params.type">
                <template v-slot:selection="{ item }"> [[ item.name ]] </template>
            </v-select>
          </v-col>
          <v-col>
            <v-select :items="newVolumeDialog.params.images" label="镜像" item-text="name" item-value="id" dense outlined
                      v-model="newVolumeDialog.params.image">
              <template v-slot:selection="{ item }"> [[ item.name || item.id ]] </template>
            </v-select>
            <v-select :items="newVolumeDialog.params.snapshots" label="快照" item-text="name" item-value="id" dense outlined
                      v-model="newVolumeDialog.params.snapshot" @changed="alert(1)">
              <template v-slot:selection="{ item }"> [[ item.name || item.id ]] </template>
            </v-select>
            <v-alert type="info" outlined dense>镜像和快照不能同时选择,选择快照后不能选择类型。</v-alert>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="newVolumeDialog.commit()">创建</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>