<v-dialog v-model="resizeDialog.show" width="800">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>规格变更</v-card-title>
      <v-card-text>
            <v-text-field label="当前规格" v-model="resizeDialog.oldFlavorRef" disabled></v-text-field>
            <v-select :items="resizeDialog.flavors" label="选择规格"
                item-value="id" item-text="name" outlined v-model="resizeDialog.flavorRef">
            </v-select>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="resizeDialog.commit()">变更</v-btn></v-col>
        </v-card-actions>
    </v-card>
</v-dialog>
