<v-dialog v-model="identity.rolesDialog.show" width="900">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>角色管理</v-card-title>
      <v-card-text>
        <v-row class="mt-1">
          <v-row>
            <v-col>
              <v-btn small color="primary" @click="identity.newRoleDialog.open()">添加</v-btn>
              <v-btn small color="error" @click="identity.rolesDialog.roleTable.deleteSelected()" 
                  :disabled="identity.rolesDialog.roleTable.selected.length == 0">删除</v-btn>
            </v-col>
            <v-col>
              <v-select :items="identity.rolesDialog.domains" clearable label="Domain" item-text="name" item-value="id" dense outlined
                  v-model="identity.rolesDialog.domainId" v-on:change="identity.rolesDialog.changeDoamin()">
              </v-select>
            </v-col>
          </v-row>
        </v-row>
        <br>
        <v-data-table :headers="identity.rolesDialog.roleTable.headers" :items="identity.rolesDialog.roleTable.items"
            :items-per-page="identity.rolesDialog.roleTable.itemsPerPage" :search="identity.rolesDialog.roleTable.search" class="elevation-1"
            dense show-select v-model="identity.rolesDialog.roleTable.selected">
        </v-data-table>
      </v-card-text>
    </v-card>
</v-dialog>
{% include '../dialog/newRole.html' %}