<v-dialog v-model="computing.serverActions.show" width="900">
  <v-card>
    <v-card-title class="headline grey lighten-2" primary-title>虚拟机操作记录</v-card-title>
    <v-card-text>
      <v-timeline dense>
        <v-timeline-item v-for="item in computing.serverActions.actions" small right>
          <v-row justify="space-between">
            <v-col class="text-left my-auto" cols="5">
              [[ computing.serverActions.getStartTime(item.start_time) ]]<br>
              <code>[[item.request_id]]</code>
            </v-col>
            <v-col>
              <v-alert dense prominent text :color="computing.serverActions.isActionError(item) == true ? 'error' : 'success'">
                <h3>[[ item.action ]]</h3>
                <div width="600" v-if="item.message">[[ item.message ]]</div>
            </v-alert>
          </v-row>
        </v-timeline-item>
      </v-timeline>
    </v-card-text>
  </v-card>
</v-dialog>