<v-dialog v-model="computing.serverConsoleLog.show" width="1000" scrollable>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>控制台日志([[computing.serverConsoleLog.length || '**']]行)</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-btn small text color="info" @click="computing.serverConsoleLog.refresh()" :disabled="computing.serverConsoleLog.refreshing">
              <v-icon>mdi-refresh</v-icon>刷新...
            </v-btn>
            <v-btn small text color="info" @click="computing.serverConsoleLog.more()" :disabled="computing.serverConsoleLog.refreshing">
              <v-icon>mdi-arrow-up</v-icon>更多...
            </v-btn>
            <v-btn small text color="info" @click="computing.serverConsoleLog.all()" :disabled="computing.serverConsoleLog.refreshing">
              全部
            </v-btn>
            <v-icon v-if="computing.serverConsoleLog.refreshing" class="mdi-spin ml-5">mdi-rotate-right</v-icon>
          </v-col>
          <v-col>
            <v-switch dense class="my-auto" hide-details v-model="computing.serverConsoleLog._autoRefresh"
                      label="自动刷新" @click="computing.serverConsoleLog.autoRefresh()"></v-switch>
          </v-col>
        </v-row>
        <pre class="white--text grey darken-3 pa-4">[[ computing.serverConsoleLog.content ]]</pre>
        </v-card-text>
    </v-card>
  </v-dialog>