<v-dialog v-model="computing.serverActionEvents.show" width="900" scrollable>
  <v-card>
    <v-card-title class="headline grey lighten-2" primary-title>虚拟机 [[ computing.serverActionEvents.instanceAction.action ]] 事件 </v-card-title>
    <v-card-text>
      <v-timeline dense>
        <v-timeline-item v-for="item in computing.serverActionEvents.instanceAction.events" small right
          :color="computing.serverActionEvents.isEventError(item) ? 'error' : 'success'">
          <v-row>
              <v-col class="text-left" cols="10">
                [[ computing.serverActionEvents.formatTime(item.start_time) ]] ~ 
                [[ computing.serverActionEvents.formatTime(item.finish_time) ]]
                <strong class="ml-4">[[ item.event ]]</strong>
              </v-col>
              <v-col cols="2">[[item.result]]</v-col>
          </v-row>
          <v-expansion-panels v-if="item.traceback">
            <v-expansion-panel>
              <v-expansion-panel-header>错误堆栈</v-expansion-panel-header>
              <v-expansion-panel-content>
                  <pre class="white--text grey darken-3 pa-4">[[ item.traceback ]]</pre>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-timeline-item>
      </v-timeline>
    </v-card-text>
  </v-card>
</v-dialog>