<v-dialog v-model="computing.serverActions.show" width="1000" scrollable>
  <v-card>
    <v-card-title class="headline grey lighten-2" primary-title>虚拟机操作记录</v-card-title>
    <v-card-text>
      <v-timeline dense>
        <v-timeline-item v-for="item in computing.serverActions.actions" small right 
          :color="computing.serverActions.isActionError(item) == true ? 'error' : 'success'">
          <v-row>
            <v-col class="text-left" cols="3">[[ computing.serverActions.getStartTime(item.start_time) ]]</v-col>
            <v-col cols="3">
              <h3>[[ item.action ]]</h3>
            </v-col>
            <v-col>
                <a @click="computing.serverActionEvents.open(computing.serverActions.server, item.request_id)">[[item.request_id]]</a>
            </v-col>
          </v-row>
        </v-timeline-item>
      </v-timeline>
    </v-card-text>
  </v-card>
</v-dialog>