<v-dialog v-model="image.imageTable.tasksDialog.show" width="900" scrollable>
    <v-card min-height="300">
      <v-card-title class="headline grey lighten-2" primary-title>镜像上传进度</v-card-title>
      <v-card-text>
          <v-card class="mt-2" v-for="item in image.imageTable.tasksDialog.tasks.uploading">
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="headline">
                  <v-progress-linear height="10" :value="item.readed" :buffer-value="item.cached" ></v-progress-linear>
                </v-list-item-title>
                <v-list-item-subtitle>
                  【镜像Id：<code>[[ item.image_id ]]</code>】【总大小：[[ UTILS.humanSize(item.size) ]]】【缓存：[[ item.cached.toFixed(2) ]]%】【上传：[[ item.readed.toFixed(2) ]]%】
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-avatar @click="image.imageTable.tasksDialog.delete(item.id)">
                  <v-btn icon color="error"><v-icon>mdi-delete-circle</v-icon></v-btn>
              </v-list-item-avatar>
            </v-list-item>
          </v-card>
      </v-card-text>
    </v-card>
</v-dialog>
