<v-dialog v-model="computing.hypervisorTable.tenantUsageDialog.show" width="1200" scrollable>
    <v-card>
        <v-card-title class="headline grey lighten-4" primary-title>
            <v-row>
                <v-col cols="2">
                    <v-select :items="computing.hypervisorTable.tenantUsageDialog.dateRangeList" hide-details dense
                            prepend-icon="mdi-timelapse"
                            v-model="computing.hypervisorTable.tenantUsageDialog.dateRange" v-on:change="computing.hypervisorTable.tenantUsageDialog.refresh()">
                </v-col>
                <v-col>
                    <v-btn small color="primary" @click="computing.hypervisorTable.tenantUsageDialog.refresh()">刷新</v-btn>
                </v-col>
            </v-row>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-col cols="6"><div id="vcpuUsage" style="height:260px;"></div></v-col>
                <v-col cols="6"><div id="memUsage" style="height:260px;"></div></v-col>
                <v-col cols="6"><div id="diskUsage" style="height:260px;"></div></v-col>
                <v-col cols="6"><div id="serverUsage" style="height:260px;"></div></v-col>
            </v-row>
        </v-card-text>
    </v-card>
</v-dialog>
