<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}</title>
    {% include "requires.html" %}
</head>
<body>
    <div id="app">
        <v-app>
            <v-navigation-drawer v-model="drawer" app permanent src dark hidden>
                {% include "extensions/navigation.html" %}
            </v-navigation-drawer>
            <v-main>
                <v-container fluid>
                    {% include "extensions/loader.html" %}
                    <v-row hidden>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '服务'">{% include "extensions/identity/services.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '用户'">{% include "extensions/identity/users.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '规格'">{% include "extensions/flavors.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '实例'">{% include "extensions/servers.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '虚拟化资源'">{% include "extensions/hypervisors.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '计算服务'">{% include "extensions/compute/service.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '密钥对'">{% include "extensions/compute/keypair.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '网络'">{% include "extensions/networking/network.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '镜像'">{% include "extensions/images.html" %}</v-col>
                        <v-col cols="12" :hidden="navigation.items[navigation.item].title != '存储'">{% include "extensions/volume/storage.html" %}</v-col>
                    </v-row>
                </v-container>
            </v-main>

            <!-- <v-footer app>
                author: fjboy
              </v-footer> -->
        </v-app>
    </div>
</body>
<script src="/static/dashboard.js" type="module"></script>
