
<script src="/static/vue/dist/vue.min.js"></script>

<link rel="stylesheet" href="/static/mdi/font/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/static/vuetify/dist/vuetify.min.css">

<script src="/static/vuetify/dist/vuetify.min.js"></script>

<!-- axios -->
<script src="/static/axios/dist/axios.min.js"></script>

<!-- vue-cookies -->
<script src="/static/vue-cookies@1.7.4/vue-cookies.min.js" type="module"></script>

<!-- vue-i18n -->
<script src="/static/vue-i18n@8.25.0/dist/vue-i18n.min.js"></script>


<script src="/static/vuetify-snackbar-message.js"></script>

<!-- lib -->
<!-- <script type="module" src="/static/lib.js"></script> -->
