<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎</title>
    {% include "requires.html" %}
</head>

<body>
    <div id="app">
        <v-app>
            <!-- style="background: url('/static/svg3.png'); background-repeat: no-repeat;  background-attachment: fixed; filter: blur(5px)" -->
            <v-main class="indigo lighten-4">
                <v-card class="mx-auto my-auto mt-10 blue-grey lighten-4" width="60%" elevation="4">
                    <v-img class="white--text align-end" src="/static/welcome.svg">
                        <v-card-title>欢迎使用 VStackBoard</v-card-title>
                        <v-card-subtitle>版本：{{ version }} </v-card-subtitle>
                    </v-img>
                    <v-card-text class="text--primary">
                        VStackBoard 是一个 基于vuetify实现的Openstack Dashboard。
                        <br>
                        <v-alert class="blue-grey lighten-4" border="left" colored-border color="deep-purple accent-1"
                                 v-if="clusterTable.items.length == 0">
                            <v-icon>mdi-information-outline</v-icon>当前集群数目为 [[ clusterTable.items.length ]]，请添加新集群。
                        </v-alert>
                        常用集群: <br>
                        <template v-for="item in clusterTable.items">
                            <v-chip close label color="primary" class="ml-1" @click:close="clusterTable.delete(item)" @click="useCluster(item)">[[item.name]]</v-chip>
                        </template>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="orange" text @click="newCluster.display()"><v-icon>mdi-plus</v-icon> 添加集群</v-btn>
                    </v-card-actions>
                </v-card>
                {% include 'extensions/dialog/newCluster.html' %}
            </v-main>
        </v-app>
    </div>
</body>
<script src="/static/welcome.js" type="module"></script>